:root {
 --color-l: #eff1db;
 --color: #df362d;
 --color-d: #ff8300;
 --color-btn: #ff4500;

 --grey-l: #d7d4cc;
 --grey: #a7c0be;
 --grey-d: #9ca0a1;
 --grey-dd: #4d6772;
}
* {
 margin: 0;
 padding: 0;
}
*,
*::before,
*::after {
 box-sizing: inherit;
}
html {
 box-sizing: border-box;
 font-size: 62.5%; //1rem=10px
}
body {
 font-family: "Open Sans", sans-serif;
 font-weight: 400;
 line-height: 1.6;
 color: var(--grey-d);
 background-image: radial-gradient(var(--color), var(--color), var(--color-d));
 background-size: cover;
 background-repeat: no-repeat;
 min-height: 100vh;
}
